<div class="container">
  <div id="userStoriesInfo"class=" well col-sm-10">
    <h4>Your Food Stories:</h4>
    <% @stories.each do |story| %>
      <p><%= link_to story.title, story_path(story) %>
      <div id="content-<%= story.id %>"><%= story.content.truncate(200) %>
        <a href='#' data-id ="<%= story.id %>" class='js-more'>Read More</a>
      </div><br>
    <% end %>
  </div>
</div>
