<div class="container">
    
        <h1>New Category</h1>
    

        <%= render 'form', category: @category %>
        <button class="button "><%= link_to 'Back', categories_path %> </button> 
   
    
</div>


